.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title {
  line-height: 1.15;
  font-size: 3rem;
  margin: 3rem 0;
}

.title {
  text-align: center;
}

.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.cardContainer {
  border: 1px solid gray;
  padding: 3rem;
  border-radius: 1rem;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-bottom: 2rem;

  .cardImageContainer {
    height: 100px;
    margin-bottom: 1rem;
  }
}

.fieldWrapper {
  display: flex;
  flex-direction: column;
}

.invalid {
  color: red;
}

.mainFormControl {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  width: 100%;

  input,
  p {
    width: 480px;
    letter-spacing: 0.25em;
    font-size: 2rem;
    border: none;

    &:focus,
    &:focus-visible {
      border: none;
      outline: none;
    }
  }

  p {
    margin: 0 0 1rem;
  }
}

.nameInput {
  margin-top: 1.5rem;
}

.subFormControl {
  display: flex;
  justify-content: space-between;
  width: 100%;

  input,
  p {
    width: 120px;
    letter-spacing: 0.15em;
    font-size: 1.5rem;
    border: none;

    &:focus,
    &:focus-visible  {
      border: none;
      outline: none;
    }
  }

  p {
    margin: 0 0 1rem;
  }
}

.addCardButton {
  padding: 1rem;
  border: none;
  background: lightgreen;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: lawngreen;
  }
}

.userCardItem {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  width: 300px;
}

.userCardItemInner {
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

.cardLabel {
  margin-bottom: 0.5rem;
  color: black;
}

.asterisk {
  color: red;
}

.filters {
  display: flex;
  align-items: center;

  select,
  input {
    padding: 0.5rem 1rem;
  }

  select, input {
    margin-left: 1rem;
  }
}

.deleteBtn {
  color: red;
  cursor: pointer;
}

@media (max-width: 600px) {
  .formContainer {
    width: 100%;
    flex-direction: column;
  }

  .title {
    font-size: 2rem;
  }

  .filters {
    flex-direction: column;

    select, input {
      margin-left: 0;
      margin-top: 1rem;
    }
  }

  .cardContainer {
    padding: 2rem 1rem;
  }

  .fieldWrapper {
    justify-content: center;
  }

  .mainFormControl {

    input,
    p {
      width: 100%;
      font-size: 1rem;
      border: none;
    }
  }

  .cardLabel, .errorMessage {
    font-size: 0.8rem;
  }
}
